@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #212121;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(0deg, rgb(9, 15, 49) 25%, rgb(26, 28, 68) 45%, rgb(19, 22, 56) 60%, rgb(9, 15, 49) 75%);
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  margin: 0 auto;
  padding: 0 24px;
  width: 100%;
  max-width: 1570px;
}
.wide-container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1920px;
}

@media (max-width: 479px) {
  .container {
      padding-left: 20px;
      padding-right: 20px
  }
}
