@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0E1420;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0E1420;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  margin: 0 auto;
  padding: 0 24px;
  width: 100%;
  max-width: 1570px;
}
.wide-container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1920px;
}

@media (max-width: 479px) {
  .container {
      padding-left: 20px;
      padding-right: 20px
  }
}

.striped-text {
  font-family: 'Rubik One', sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  background: repeating-linear-gradient(white, white 2px, #7AB4E2 2px, #7AB4E2 3px);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #183D58;
  display: table;
  margin: 20px auto;    
}

.gradient-text {
  font-family: 'Rubik One', sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  background: linear-gradient(0deg, #DB8EDE 33%, #5856d4 66%, #26bdd8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
  display: table;
  margin: 20px auto;
  line-height: 1.2;
}